* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html {
    height: 100%;
}

body {
    position: relative;
    min-height: 100%;
    padding-bottom: 2rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
}

.container h1, .container p {
    padding: 20px;
}

.container p {
    color: brown;
    font-weight: 400;
    font-size: 1.2rem;
}

.choose-container {
    display: flex;
    justify-content: center;
    padding: 2rem 1rem 1rem 1rem;
}

.btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    padding-top: 2rem;
}

button {
    padding: .5rem;
    width: 80px;
    border-radius: 5px;
}

button:hover {
    background-color: beige;
}

.result-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

#computer, #player {
    text-align: center;
}

.score-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding-top: 3rem;
}

.score-player, .score-computer {
    border: 1px solid gray;
    padding: 1rem 1rem 1.5rem 1rem;  
    width: 180px;
    text-align: center;
    border-radius: 10px;
}

.final-container h2 {
    display: flex;
    justify-content: center;
    padding: 2rem;
    margin: 2rem;
}


footer {
    display: flex;
    justify-content: center;
    background-color: darkcyan;
    padding: 2rem;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
}





